.posts {
    
}

.postProfile {
    display: flex;

    img {
        max-height: 75px;
        height: 100%;
        border-radius: 100%;
    }

    p {
        font-size: 1.4rem;
    }
}

.postProfile p {
    margin: 0 1rem;
}

.postProfile a {
    color: purple;
}

textarea {
    padding: .5rem;
    background-color: antiquewhite;
}

.postContent {
    background-color: white;
    margin: 1rem 0;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px black;

    p {

    }
}

.postComments {
}

.comment {
    padding: .5rem;
    border-top: 1px solid black;

    p {
        padding: .1rem;
    }
}