.posts {
    background-color: white;
}

.postProfile {
    display: flex;
}

.postProfile p {
    margin: 0 1rem;
}

.postProfile a {
    color: purple;
}

textarea {
    padding: .5rem;
    background-color: antiquewhite;
}