.createPost {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.myProfile {
    display: flex;

    img {
        border-radius: 50%;
        max-height: 100px;
        height: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    ul {
        display: flex;
    }

}

.meNav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    background-color: white;

    li {
        margin: .2rem;
    }
}

.user-pfp {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
    button {
        border: none;
        background-color: none;
    } 

    
}

.user-name {


    div {
        display: flex;

        p {
            margin: 0 1rem;
        }
    }
} 