.createPost {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.myProfile {
    display: flex;
    div {
       
    .settings-link {
        img {
        border-radius: 50%;
        max-height: 100px;
        height: 100%;
    } 
    }
    }
    

    h1 {
        font-size: 2rem;
    }

    ul {
        display: flex;
    }

}

.meNav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    background-color: white;

    li {
        margin: .2rem;
    }
}

.user-pfp {
    img {
    border-radius: 50%;
    max-height: 100px;
    height: 100%;
    } 
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
    button {
        border: none;
        background-color: none;
    } 

    
}

.user-name {


    div {
        display: flex;

        p {
            margin: 0 1rem;
        }
    }
    
} 

.img-btn {
    display: flex;
    justify-content: end;
    img {
    border-radius: 10%;
    height: 3rem;
    padding: .3rem .6rem;
    }
}

@media screen and (width <= 850px){
    .img-btn {
        img {
        height: 2.4rem;
        padding: .3rem .6rem;
        }
    }
}

.friend-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
      font-size: 1.6rem;
    }
    
    img {
        margin: 0 .2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
  }