.createPost {
    display: flex;
    flex-direction: column;
    align-items: start;
    button {
        width: fit-content;
        background-color: white;
        padding: .3rem;
        border-radius: 3rem;
    }
    textarea {
        padding: .3rem;
        max-width: 600px;
        min-width: 350px;
        height: fit-content;
        word-wrap:break-word;
        margin: .5rem 0;
    }
}

.myProfile {
    display: flex;

    h1 {
        font-size: 2rem;
    }

    ul {
        display: flex;
    }

}

.meNav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}