header {
    z-index: 1000;
    position: fixed;
    top: 0;
    height: min-content;
    background-color: rgb(191, 204, 195);
    width: 100%;
    color: rgb(255, 255, 169);
    display: flex;
    margin: auto;
    ul {
        height: 100%;
        max-width: 1250px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
        li {
            transition: .12s;
            padding: .3rem;
            &:hover {
                transition: .12;
                background-image: radial-gradient(circle closest-side, #16D992, rgba(0,0,0,.0) );
                border-radius: .3rem;
            }
            .navLinks {
                text-decoration: none;
                &:visited {
                    color: rgb(255, 255, 169);
                }
            }
        }
          textarea {
            &:focus {
                background-image: none;
            }
            background-color: white;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: 10px center;
            padding: .1rem;
            border-radius: 2rem;
        }  
        .searchSmall {
            left: 75px;
            height: 60px;
            width: 60px;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: 15px;
        }
    }   
}

.searchResults {
    background-color: rgb(233, 233, 233);
    box-shadow: 3px 3px 7px 3px;
    border-radius: .5rem;
    padding: .5rem;
    z-index: 1001;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: fit-content;
    left: 0;right: 0;top: 9vh;
    text-align: center;
    margin: auto;
    &:hover {
        position: absolute;
    }
}

.searchResult {
    display: flex;
    text-align: center;
    align-items: center;
    
    p {
      font-size: 1.6rem;
    }
    
    img {
        margin: 0 .2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
}

@media screen and (width <= 850px) {
    header ul {
        justify-content: end;
    }

    .logo {
        position: absolute;
        left: 0;
    }

}