header {
    height: 7vh;
    background-color: rgb(0, 59, 59);
    width: 100%;
    color: rgb(255, 255, 169);
    display: flex;
    margin: auto;
    ul {
        max-width: 1250px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
        li {
            transition: .12s;
            padding: .3rem;
            &:hover {
                transition: .12;
                background: rgba(255, 255, 169, 0.075);
                border-radius: .3rem;
            }
            .navLinks {
                text-decoration: none;
                &:visited {
                    color: rgb(255, 255, 169);
                }
            }
        }
        img {
                transition: 1s;
                &:hover {
                    transform: rotate(360deg);
                }
            }
          input {
            &:focus {
                background-image: none;
            }
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: 10px center;
            padding: .1rem;
            border-radius: 2rem;
        }  
    }   
}