.settings-aside {
  display: flex;
  justify-content: space-between;
}

.settings-nav {
  height: fit-content;
  width: 37%;
  margin-right: 1rem;

  ul {
    li {
      font-size: 1.2rem;
      text-decoration: underline;
      margin: 0.5rem;
    }
  }
}

.settings-return-element {
  width: 63%;
}

.settings-head {
  text-align: center;
  font-size: 2rem;
}

.settings-delete {
  background-color: rgba(255, 0, 0, 0.4);
}

.setting-head {
  margin: 0.7rem;
  font-size: 1.5rem;
}

.setting-sub-head {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.setting-text {
  font-size: 1.2rem;
}

.setting-bold {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-textarea {
  display: flex;
  margin: auto;
}

.settings-link {
  margin-right: 0;
  height: 65px;
  transition: 0.12s;
  padding: 0.3rem;
  &:hover {
    transition: 0.12;
    background-image: radial-gradient(
      circle closest-side,
      #16d992,
      rgba(0, 0, 0, 0)
    );
    border-radius: 0.3rem;
  }
  text-decoration: none;
  &:visited {
    color: rgb(255, 255, 169);
  }
}
