* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.back {
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgb(0, 26, 26), rgba(0, 26, 26, 0.952));
  height: 100vh;
}

#root {
  height: 100%;
  height: 100vh;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: monospace, sans-serif;
}

a:link:visited {
  color: aliceblue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

button:hover, input:hover {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

main {
  padding: 7vh 0;
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: fit-content;
  max-height: 10vh;
  background-color: rgb(0, 59, 59);
  width: 100%;
  color: rgb(255, 255, 169);
  display: flex;
  margin: auto;
}
header ul {
  max-width: 1250px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
header ul li {
  transition: 0.12s;
  padding: 0.3rem;
}
header ul li:hover {
  transition: 0.12;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 169, 0.411), rgba(0, 0, 0, 0));
  border-radius: 0.3rem;
}
header ul li .navLinks {
  text-decoration: none;
}
header ul li .navLinks:visited {
  color: rgb(255, 255, 169);
}
header ul input {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 0.1rem;
  border-radius: 2rem;
}
header ul input:focus {
  background-image: none;
}
header ul .searchSmall {
  position: absolute;
  left: 75px;
  height: 60px;
  width: 60px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 15px;
}

@media screen and (width <= 850px) {
  header ul {
    justify-content: end;
  }
  .logo {
    position: absolute;
    left: 0;
  }
}
.posts {
  background-color: white;
}

.postProfile {
  display: flex;
}

.postProfile p {
  margin: 0 1rem;
}

.postProfile a {
  color: purple;
}

textarea {
  padding: 0.5rem;
  background-color: antiquewhite;
}

main {
  margin: 0 auto;
  margin-top: 1rem;
  height: fit-content;
  max-width: 1300px;
  width: 100%;
}

.bg {
  background-color: wheat;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.loader {
  display: flex;
  margin: auto;
  align-items: center;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.login {
  max-width: 500px;
  width: 90%;
  margin: auto;
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 10%;
}
.login h1 {
  font-size: 2rem;
}
.login div {
  margin: 1rem;
}
.login h2 {
  color: red;
  font-weight: 700;
}
.login button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: 1rem;
  width: max-content;
  padding: 0.3rem;
}

.createPost {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.createPost button {
  width: fit-content;
  background-color: white;
  padding: 0.3rem;
  border-radius: 3rem;
}
.createPost textarea {
  padding: 0.3rem;
  max-width: 600px;
  min-width: 350px;
  height: fit-content;
  word-wrap: break-word;
  margin: 0.5rem 0;
}

.myProfile {
  display: flex;
}
.myProfile h1 {
  font-size: 2rem;
}